.card_box{
    top:0;
    width: 22rem;
    height: 24rem;
    background-image: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQTv_d6jKNuijtNjGSlf46kFOovm_6yWNxf-p8pbs7rtw&s');
    background-position: center;
    background-repeat: no-repeat;
    background-size:22rem 24rem;
    border: .1rem solid black;
    border-radius: .5rem;
 background-blend-mode: hard-light;
    
}    
.card{
    background-image: url("");
    
}